/* === HEADER === */
.header {
  background-color: #0d6efd;
  color: white;
  padding: 15px 30px;
}

.header__title {
  margin: 0;
}

.header__nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 0;
}

.header__nav li {
  cursor: pointer;
  font-weight: bold;
}

.header__nav li:hover {
  text-decoration: underline;
}